
<h2>Menú de opciones</h2>

<ul>
    <li><a href="@Url.Action("AgregarIdea", "Home")">Agregar Ideas de Negocio</a></li>
    <br />
    <li><a href="@Url.Action("IdeaNegocioMayorHerramientas4RI", "Home")">Ideas Con más Herramientas Utilizadas</a></li>
    <br />
    <li><a href="@Url.Action("IdeaNegocioImpactaDepartamentosMasTres", "Home")">Ideas que impacten a más de tres Departamentos</a></li>
    <br />
    <li><a href="@Url.Action("ContarIdeasDesarrolloSostenible", "Home")">Ideas que tengan Desarrollo Sostenible</a></li>
    <br />
    <li><a href="@Url.Action("IdeaNegocioImpactaDepartamentos", "Home")">Ideas que impactan más departamentos e idea con mayores ingresos</a></li>
    <br />
    <li><a href="@Url.Action("ContarIdeasConInteligenciaArtificial", "Home")">Ideas que tengan Inteligencia Artificial</a></li>
    <br />
    <li><a href="@Url.Action("NegociosMasRentables", "Home")">Ideas con mayor Rentabilidad</a></li>
    <br />
    <li><a href="@Url.Action("IdeasMayorQuePromedio", "Home")">Ideas con mayor Promedio</a></li>
    <br />
    <li><a href="@Url.Action("MostrarIdea", "Home")">Mostrar Ideas de Negocio</a></li>
    <br />
    <li><a href="@Url.Action("SumaTotalIngresos", "Home")">Total de ingresos</a></li>
    <br />
    <li><a href="@Url.Action("SumaTotalInversion", "Home")">Total de inversión</a></li>
</ul>

